<!DOCTYPE html>
<html>
  <head>
    <title>PERSONAL FINANCE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>PROJECT</h1>
    <p>PERSONAL FINANCE</p>
  </body>
</html>
